{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Project details"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <dl class="govuk-summary-list" data-testid="project-detail">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Project name</dt>
          <dd class="govuk-summary-list__value">{{ project.project.name }}</dd>
        </div>

        {% if project.project.site %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Site name</dt>
            <dd class="govuk-summary-list__value">{{ project.project.site.name }}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Grid reference</dt>
            <dd class="govuk-summary-list__value">{{ project.project.site.grid_ref }}</dd>
          </div>
        {% endif %}

        {% if project.project.units %}
          {% for key, value in project.project.units %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ key | capitalize }} units</dt>
              <dd class="govuk-summary-list__value">{{ value }}</dd>
            </div>
          {% endfor %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">User</dt>
          <dd class="govuk-summary-list__value">{{ project.userId }}</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Version</dt>
          <dd class="govuk-summary-list__value">{{ project.bngProjectVersion }}</dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Created</dt>
          <dd class="govuk-summary-list__value">{{ project.createdAt | formatDate }}</dd>
        </div>
      </dl>

      <a class="govuk-link" href="/projects">Back to projects</a>
    </div>
  </div>
{% endblock %}
