{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "BNG Metric"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if projects | length %}
        <ul class="govuk-list" data-testid="projects-list">
          {% for item in projects %}
            <li>
              <a class="govuk-link" href="/projects/{{ item.id }}">{{ item.project.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body" data-testid="no-projects">No projects found.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
