{% extends 'layouts/page.njk' %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}


{% block content %}
  {{ appHeading({
    text: heading,
    caption: caption
  }) }}
  {% if not error %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="project-task-list-information">When you provide your information:</p>
      <ul class="govuk-list govuk-list--bullet" data-testid="project-task-list-content-list">
        <li>complete each section before sending the information</li>
        <li>you can edit sections after completing them</li>
        <li>you can save your progress at the end of each section to return later</li>
      </ul>
      {{
        govukTaskList({
          idPrefix: "project-task-list",
          attributes: { "data-testid": "project-task-list-component"},
          items: [
            {
              title: {
                text: "Project Name"
              },
              href: "/change-project-name/" + id,
              status: {
                text: "Completed"
              }
            },
            {
              title: {
                text: "Project Details"
              },
              href: "/project-details/" + id,
              status: {
                tag: {
                  text: "Not yet started",
                  classes: "govuk-tag--blue"
                }
              }
            },
            {
              title: {
                text: "On-site baseline habitats"
              },
              href: "/projects/" + id + "/upload-baseline-file",
              status: {
                tag: {
                  text: "Not yet started",
                  classes: "govuk-tag--blue"
                }
              }
            },
            {
              title: {
                text: "On-site post intervention habitats"
              },
              status: {
                text: "Incomplete"
              }
            }
          ]
        })
      }}
    </div>
  </div>
  {% endif %}
{% endblock %}
