{% extends 'layouts/page.njk' %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}


{% block content %}
  {{ appHeading({
    text: heading
  }) }}
  {% if not error %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="project-task-list-information">When you provide your information:</p>
      <ul class="govuk-list govuk-list--bullet" data-testid="project-task-list-content-list">
        <li>you’ll need to complete each section before you can send the information</li>
        <li>you can still make changes to a section even after it is marked complete</li>
        <li>you can save your progress at the end of each section if you need to come back later</li>
      </ul>
      {{
        govukTaskList({
          idPrefix: "project-task-list",
          attributes: { "data-testid": "project-task-list-component"},
          items: [
            {
              title: {
                text: "Project Name"
              },
              href: "/change-project-name/" + id,
              status: {
                text: "Completed"
              }
            },
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              text: "Project Details"
            },
            href: "/project-details/" + id,
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "On-site baseline habitats"
            },
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "On-site post intervention habitats"
            },
            status: {
              text: "Incomplete"
            }
          }
        ]
      })}}
    </div>
  </div>
  {% endif %}
{% endblock %}
