{% extends 'layouts/page.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if refreshInterval %}
  <meta http-equiv="refresh" content="{{ refreshInterval }}">
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    <a class="govuk-back-link" href="/projects/{{ projectId }}/upload-baseline-file">Back</a>
  </nav>
{% endblock %}

{% block content %}
  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage
        }
      ]
    }) }}
  {% endif %}

  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if isProcessing %}
        <p class="govuk-body">Your file is being checked. This page will refresh automatically.</p>
      {% elif errorMessage %}
        <p class="govuk-body">
          <a class="govuk-link" href="/projects/{{ projectId }}/upload-baseline-file">Upload a different file</a>
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
