{% extends 'layouts/page.njk' %}

{% block head %}
  {{ super() }}
  {% if refreshInterval %}
  <meta http-equiv="refresh" content="{{ refreshInterval }}">
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav>
    <a class="govuk-back-link" href="/projects/{{ projectId }}/upload-baseline-file">Back</a>
  </nav>
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Your file is being checked. This page will refresh automatically.</p>
    </div>
  </div>
{% endblock %}
