{% extends "unit-type-page.njk" %}

{% from "trading-summary/macro.njk" import tradingSummary %}

{% block unitTypeBody %}
  <div class="app-hedgerows-trading-summary">
    {{ tradingSummary(trading) }}
  </div>
{% endblock %}
