{% extends 'layouts/page.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if singleError %}
        <h1 class="govuk-heading-l">{{ singleError.h1 }}</h1>

        {% if singleError.variant == 'distinctiveness' %}
          <p class="govuk-body">
            {{ singleError.helpTextBefore }}<a class="govuk-link" href="{{ singleError.linkHref }}" target="_blank" rel="noreferrer noopener">{{ singleError.linkText }} (opens in a new tab)</a>{{ singleError.helpTextAfter }}
          </p>
        {% elif singleError.variant == 'placeholder' %}
          <p class="govuk-body">{{ singleError.helpText }}</p>
        {% else %}
          <p class="govuk-body">
            {{ singleError.messageBefore }}{% if singleError.uploadHref %}<a class="govuk-link" href="{{ singleError.uploadHref }}">{{ singleError.linkText }}</a>{{ singleError.messageAfter }}{% endif %}
          </p>
        {% endif %}
      {% elif errorList and errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem with your file",
          errorList: errorList
        }) }}

        <h1 class="govuk-heading-l">We couldn't accept your {{ fileLabel }} file</h1>

        <p class="govuk-body">
          Your file is a valid GeoPackage, but we found problems with its
          contents. Fix the issues listed below and upload it again.
        </p>

        {#
          Interim layout. The final formatting will be finalized in future stories.
        #}
        {% for block in errorBlocks %}
          <h2 class="govuk-heading-m">{{ block.heading }}</h2>
          {% if block.note %}
            <p class="govuk-body">{{ block.note }}</p>
          {% endif %}
          {% if block.items.length > 0 %}
            <ul class="govuk-list">
              {% for item in block.items %}
                <li>{{ item }}</li>
              {% endfor %}
              {% if block.more > 0 %}
                <li class="govuk-hint">… and {{ block.more }} more</li>
              {% endif %}
            </ul>
          {% endif %}
        {% endfor %}
      {% else %}
        <h1 class="govuk-heading-l">There is a problem with your file</h1>
        <p class="govuk-body">
          We couldn't accept your file. Please try again.
        </p>
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-6">
        {% if projectId %}
          {{ govukButton({
            text: "Upload a different file",
            href: uploadHref
          }) }}
          <a class="govuk-link" href="/add-project-details/{{ projectId }}">Back to project</a>
        {% else %}
          <a class="govuk-link" href="/">Back to start</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
