{% extends 'layouts/page.njk' %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList and errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem with your file",
          errorList: errorList
        }) }}

        <h1 class="govuk-heading-l">We couldn't accept your baseline file</h1>

        <p class="govuk-body">
          Your file passed the format check, but failed one or more geometry
          checks. Fix the issues listed below in your GeoPackage and upload it again.
        </p>

        {#
          Interim layout. The final formatting will be finalized in future stories.
        #}
        {% for block in errorBlocks %}
          <h2 class="govuk-heading-m">{{ block.heading }}</h2>
          {% if block.items.length > 0 %}
            <ul class="govuk-list">
              {% for item in block.items %}
                <li>{{ item }}</li>
              {% endfor %}
              {% if block.more > 0 %}
                <li class="govuk-hint">… and {{ block.more }} more</li>
              {% endif %}
            </ul>
          {% endif %}
        {% endfor %}
      {% else %}
        <h1 class="govuk-heading-l">There is a problem with your file</h1>
        <p class="govuk-body">
          We couldn't accept your file. Please try again.
        </p>
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-6">
        {% if projectId %}
          {{ govukButton({
            text: "Upload a different file",
            href: "/projects/" + projectId + "/upload-baseline-file"
          }) }}
          <a class="govuk-link" href="/add-project-details/{{ projectId }}">Back to project</a>
        {% else %}
          <a class="govuk-link" href="/">Back to start</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
