{% extends 'layouts/page.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block beforeContent %}
  {{ super() }}
  <nav>
    <a class="govuk-back-link" href="/projects/{{ projectId }}/upload-baseline-file">Back</a>
  </nav>
{% endblock %}

{% set mapPlaceholderHtml %}
  {% include "map/template.njk" %}
{% endset %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: caption
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        card: {
          title: { text: "Site Details" }
        },
        rows: [
          {
            key: { text: "Red Line Boundary" },
            value: { text: "" }
          },
          {
            key: { text: "Area Habitats" },
            value: { text: "" }
          },
          {
            key: { text: "Map View" },
            value: {
              html: mapPlaceholderHtml
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: { text: "File Details" }
        },
        rows: [
          {
            key: { text: "File uploaded" },
            value: { text: filename if filename else "" }
          },
          {
            key: { text: "Layers" },
            value: { text: "" }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Upload a different file",
        href: "/projects/" + projectId + "/upload-baseline-file",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>
{% endblock %}
