{% extends "unit-type-page.njk" %}

{% from "unit-type-summary/macro.njk" import appUnitTypeSummary %}
{% from "habitat-details-table/macro.njk" import appHabitatDetailsTable %}

{% block unitTypeBody %}
  <h2 class="govuk-heading-m">{{ resultsHeading }}</h2>

  {{ appUnitTypeSummary(unitSummary) }}

  <h2 class="govuk-heading-m">{{ detailsHeading }}</h2>

  {{ appHabitatDetailsTable({
    regionLabel: detailsRegionLabel,
    columns: columns,
    habitatRows: habitatRows,
    totalsRow: totalsRow
  }) }}
{% endblock %}
